
.categoryListLi {
    height: auto;
    width: 120px;
    background-color: #50B2C0;
    margin: 10px;
    border-radius: 10px;
    color: #fff9f1;
    text-decoration: none;  
}

.categoryList  {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center; 
}