.eventCard{
    background-image:url('../../assets/categories/tecnology.jpg');
    width: 100px;
    height: 100px; 
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 80%;
    margin-left:30px;
}

.photo{
    background-image:url('https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg');
    width: 100px;
    height: 100px; 
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 80%;
    display: flex;
    margin-left: px;
    
}
