.eventCard{
    background-image:url('https://media.istockphoto.com/id/1448790717/es/foto/auriculares-mujer-negra-y-baile-feliz-en-la-ciudad-contra-fondo-rojo-del-edificio-m%C3%BAsica-baile.jpg?s=1024x1024&w=is&k=20&c=XEO_P7c5pXdM6X50IoJlMrY25F7IYCiZqQMfaV-kzBk=');
    width: 100px;
    height: 100px; 
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 80%;
    margin-left:30px;
}

.photo{
    background-image:url('https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg');
    width: 100px;
    height: 100px; 
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 80%;
    display: flex;
    margin-left: px;
    
}
