
.categoryList {
    height: auto;
    width: 120px;
    background-color: #50B2C0;
    margin: 10px;
    border-radius: 10px;
    color: black;
    align-items: center;
    text-decoration: none;
}


ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style:none;
    flex-wrap: wrap;
}