
.eventListLi {
    position: relative;
    height: auto;
    width: 800px;
    margin: 10px;
    border-radius: 10px;
    text-decoration: none; 
    text-align: start; 
}

.eventList  {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center; 
}

.join-btn {
    display: flex;
    justify-content: end;
}

.event-icons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.green {
    color: green;
}

.red {
    color: red;
}

/* .red-field {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: indianred;
    margin: 0;
    padding: 8px 16px;
    color: white;
}

.green-field {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: darkseagreen;
    margin: 0;
    padding: 8px 16px;
    color: white;
} */

.free-text {
    margin-top: 8px !important;
    padding: 8px 16px;
    color: white;
    margin: 0;

    &.green-field {
        background-color: #a3ccae;
    }

    &.red-field {
        background-color: #e37179;
    }
}