.category-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty-category {
    width: 90%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.category-header {
    width: 100%;
}